{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Registro de Usuario | eZLifter</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<h1 class="titulo">Registro de Usuario</h1>
		
		<form method="POST" class="row col-12 col-md-9 mx-auto" id="form-inscripcion">
			{% csrf_token %}
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.nombre.label }}
					{{ form.nombre }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.email.label }}
					{{ form.email }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="form-group m-0">
					{{ form.grupo.label }}
					{{ form.grupo }}
				</div>
			</div>
			<div class="col-12 mb-3"></div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="form-group m-0">
					{{ form.username.label }}
					{{ form.username }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="form-group m-0">
					{{ form.password1.label }}
					{{ form.password1 }}
				</div>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 mb-3">
				<div class="form-group m-0">
					{{ form.password2.label }}
					{{ form.password2 }}
				</div>
			</div>

			<div class="col-12 text-right">
				<button type="submit" class="btn btn-primary">Guardar</button>	
			</div>
		</form>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('#form-inscripcion .btn-enviar').click(function(){
				if($('#form-inscripcion input[name="password1"]').val() != $('#form-inscripcion input[name="password2"]').val()){
					alert('Las contraseñas no coinciden');
					return false;
				}
			});
		});
	</script>
{% endblock js %}