{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Inicio | eZLifter</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<div class="card">
			<div class="card-header">
				Bienvenido <strong>{{ user.first_name }} {{ user.last_name }}</strong>
			</div>
			<div class="card-body">
				<p><strong>eZLifer</strong> es una aplicación desarrollada para gestionar ordenes de trabajo del rubro de Ascensores.</p>

				<p>En el menú superior encontrará todas las acciones disponibles que puede realizar según su categoría de usuario.</p>

				<p>En la sección <strong>"Ordenes de Trabajo"</strong>, se encontrará con el listado de clientes que se le han asignado, de los cuales usted tendrá un sistema de filtro para ordenar por:</p>

				<div class="text-center mb-3">
					<button class="btn btn-primary">Todas</button>
					<button class="btn btn-danger">Pendiente</button>
					<button class="btn btn-success">Terminada</button>
				</div>

				<p>Al iniciar una orden de trabajo se registrará el inicio de esta, desde el momento en que se hace click al botón. Y se registará la hora al finalizar la orden de trabajo.</p>

			</div>
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('[data-active="1"]').addClass('active');
		});
	</script>
{% endblock js %}