{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Reestablecimiento de Contraseña Completado | eZLifter</title>
{% endblock tituloPagina %}
{% block header %}{% endblock header %}
{% block contenido %}
	<div class="login-container">
		<div class="tabla">
			<div class="celda">
				<div class="login">
					<figure class="login-logo mb-3">
						<img src="{% static 'img/logo.png' %}" alt="">
					</figure>
					<div class="alert alert-success text-center alerta-campo mt-1" role="alert" id="res">
						Su contraseña se reestableció correctamente
					</div>
					<div class="text-right">
						<a href="{% url 'login' %}" class="btn btn-success">Iniciar Sesión</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('body').addClass('bg-1');
		});
	</script>
{% endblock js %}