{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Recuperación enviada | eZLifter</title>
{% endblock tituloPagina %}
{% block header %}{% endblock header %}
{% block contenido %}
	<div class="login-container">
		<div class="tabla">
			<div class="celda">
				<div class="login">
					<figure class="login-logo mb-3">
						<img src="{% static 'img/logo.png' %}" alt="">
					</figure>
					<div class="alert alert-success text-center alerta-campo mt-1" role="alert" id="res">
						Te hemos enviado un correo con un enlace para restablecer tu contraseña
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('body').addClass('bg-1');
		});
	</script>
{% endblock js %}