{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Listado Clientes | eZLifter</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<div class="card">
			<div class="card-header">
				Listado de Clientes
			</div>
			<div class="card-body">
				<div class="text-right mb-3">
					<a href="{% url 'cliente_crear' %}" class="btn btn-primary">Agregar Cliente</a>
				</div>
				<div class="table-responsive listado">
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Dirección</th>
								<th scope="col">Teléfono</th>
								<th scope="col" class="text-center">Ascensores</th>
								<th scope="col" class="text-right">Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for item in clientes %}
								<tr>
									<td>{{ item.nombre }}</td>
									<td>{{ item.direccion }}</td>
									<td>{{ item.telefono }}</td>
									<td class="text-center">
										<a href="{% url 'ascensor_listar' item.id %}" class="btn btn-sm btn-success">Ver Ascensores</a><br>
									</td>
									<td class="text-right">
										<a href="{% url 'cliente_editar' item.id %}" class="btn btn-sm btn-warning">Editar</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('[data-active="3"]').addClass('active');
		});
	</script>
{% endblock js %}