{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Listado de Ascensores | eZLifter</title>
{% endblock tituloPagina %}
{% block contenido %}
	<div class="container py-5">
		<div class="card">
			<div class="card-header">
				Listado de Ascensores de: <strong>{{ cliente.nombre }}</strong> 
			</div>
			<div class="card-body">
				<div class="text-right mb-3">
					<a href="{% url 'ascensor_crear' cliente.id %}" class="btn btn-primary">Agregar Ascensor</a>
				</div>
				<div class="table-responsive listado">
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col"># Ascensor</th>
								<th scope="col">Modelo</th>
							</tr>
						</thead>
						<tbody>

							{% for item in ascensores %}
								<tr>
									<td>{{ item.numero }}</td>
									<td>{{ item.modelo }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="border-top pt-2 mt-4">
					<a href="{% url 'cliente_listar' %}" class="btn btn-light">Volver Atrás</a>
				</div>
			</div>
		</div>
	</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			$('[data-active="3"]').addClass('active');
		});
	</script>
{% endblock js %}